<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/AIRPORT?serverTimezone=UTC
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345678</property>
        <property name="connection.pool_size">20</property>

        <property name="hbm2ddl.auto">none</property>
        <property name="show_sql">true</property>

        <mapping class="airport.entity.Aircraft"/>
        <mapping class="airport.entity.AircraftType"/>
        <mapping class="airport.entity.Airline"/>
        <mapping class="airport.entity.Flight"/>
        <mapping class="airport.entity.Gate"/>
        <mapping class="airport.entity.Passenger"/>
        <mapping class="airport.entity.Route"/>
        <mapping class="airport.entity.Terminal"/>
        <mapping class="airport.entity.Ticket"/>
        <mapping class="airport.entity.Personal"/>
        <mapping class="airport.entity.PersonalInfo"/>
        <mapping class="airport.entity.Salary"/>
        <mapping class="airport.entity.Passport"/>

    </session-factory>
</hibernate-configuration>